main {
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../image/patrones-fisuras-elementos-cine_225004-1154.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    align-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    background-color: black;
    color: white;
    padding: 30px;
}

.formulario input {
    max-width: 300px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    border-color: #9f3647;
    font-size: 1.2rem;
    margin: 10px auto;
}

.formulario button {
    background: #9f3647;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    max-width: 190px;
    width: 100%;
}

.formulario .check {
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 20px 0px;
}

.formulario .check input {
    width: auto;
    margin: 0 10px 0px 0;
}

.formulario .check p {
    align-content: center;
}

@media (max-width: 576px) {

    .formulario {
        width: 90%;
        padding: 10px;
    }

    .formulario input {
        padding: 0.1rem;
        font-size: 1.2rem;
        margin: 5px auto;
    }

    .formulario button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .formulario .check input {
        margin: 0 5px 0px 0;
    }

    .formulario .check p {
        font-size: 0.8rem;
    }

}